@import "tailwindcss";
*{
  font-family: "Open Sans", sans-serif;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}
.v-icon__svg{
  fill: #F5A623 !important;
}
:root {
  --primary-color: #80CBC4;
  --secondary-color: #FFB433;
  --background-color: #B4EBE6;

}

.steps-container{
  position: relative;
  z-index: 2;
  background: url('./assets/bg_winter.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 60vh;
  /* border-bottom: 4px solid red; */
  padding-bottom: 24px;
}
.steps-container::after{

  background: url(./assets/man_winter.webp) no-repeat bottom left ;
  background-size: auto 100%;
  content: '';
  display: block;
  height: 100%;
  max-height: 425px;
  position: absolute;
  bottom: 0;
  left:10%;
  width: 100%;
}
@media(max-width:767px){
  .steps-container{
    min-height: 300px;
    /* max-height: 300px ; */
  }
  .steps-container::after{
    background-position: bottom right;
    left: -1%;
    bottom: 0;
    max-height: 225px;
  }
  .header-bottom{
    /* min-height: 300px; */
    /* align-items: end; */
  }
}

@media (min-width: 768px) {
  .steps-container:before {
  
      max-height: 1375px;
  }
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

.step-container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 90%;
 
  padding: 20px;
  margin: 20px auto;
}

.progress-bar {
  height: 5px;
  background: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 20px;
  overflow: hidden;
}

.progress-bar-fill {
  height: 100%;
  background: #28A745;
  transition: width 0.3s ease;
}

label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
  color: #555;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 10px;
}

button {
  background: #FFB433;
  color: white;
  border: none;
  /* padding: 10px 20px; */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.custom-shadow{
  box-shadow: 0px 0px 17px rgba(1, 1, 1, 0.2);

}
button:disabled {
  background: #ccc;
  cursor: not-allowed;
}

button:hover:not(:disabled) {
  background: #F5A623;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.slick-slide {
  text-align: center;
}

.slick-slide button {
  width: 90%;
  margin: 0 auto;
  background: #f0f0f0;
  color: #333;
}

.slick-prev,
.slick-next {
  z-index: 1;
  color: #333 !important;
  /* background: red !important; */
  font-size: 24px;
  /* bottom: -10% !important; */
  top: 108% !important;
}
.slick-prev:hover,
.slick-next:hover{
  background: transparent !important;
}
.slick-prev::before,
.slick-next::before{
  color:#333 !important;
}

.slick-prev {
  left: 80px !important;
}

.slick-next {
  right: 20% !important;
}
@media (max-width :400px){
  /* I want to show the dots at bottom  */
  .slick-arrow{
    /* top: 130% !important;  */
    display: none !important;
  }
  
}

.slick-dots li button:before {
  font-size: 12px;
  color: gray;
}

.slick-dots li.slick-active button:before {
  color: #F5A623;
}
